<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head %>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
	</head>
	<body>
		<% include ./partials/header %>
		<% include ./partials/sidebar %>

		<div id="main">
			<div class="col-md-12">
				<h1>Camera Settings</h1>

				<div class="row">
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Camera Overlay</h5>
								<h6 id="overlay-loading" class="card-subtitle mb-2 text-muted">Waiting for response...</h6>

								<div id="overlay-form" class="form-row d-none">
									<div class="col-6">
										<p class="card-text">
										Primary display
										<div id="primary-overlay"> </div>
										</p>
									</div>
									<div class="col-6">
										<p class="card-text">
										Secondary display
										<div id="secondary-overlay"></div>
										</p>
									</div>
								</div>
							</div>
							<div class="card-footer row">
								<a href="#" class="card-link" onclick="setOverlays()">Save</a>
								<p id="overlay-save-indicator" class="card-text d-none ml-2 text-muted">Updated overlays!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script src="js/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/camera.js"></script>
</html>
