<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<title>DAS</title>
	</head>
	<body>
		<% include ./partials/header %>

		<% include ./partials/sidebar %>

		<div id="main">
			<div class="row">
				<div class="col-sm-8">
					<h5 id="filenameElement"> Current Filename: <span id="filenameText"></span></h5>
				</div>

				<div class="col-sm-4">
					<form class="float-right" id="textModeToggleElement">
						<div class="custom-control custom-switch">
							<input type="checkbox" class="custom-control-input" id="textModeToggle" onclick="updateTextMode()">
							<label class="custom-control-label" for="textModeToggle">Text mode</label>
						</div>
					</form>
				</div>
			</div>

			<div class="row" id="chartDiv">
				<div class="col-xl-4" id="velocityChartDiv"><canvas id="velocityTimeChart"></canvas></div>
				<div class="col-xl-4" id="powerChartDiv"><canvas id="powerTimeChart"></canvas></div>
				<div class="col-xl-4" id="cadenceChartDiv"><canvas id="cadenceTimeChart"></canvas></div>
			</div>

			<div class="row" id="textDiv">
				<div class="col-lg-6">
					<table class="table">
						<tr>
							<td colspan="2">Time</td>
							<td><span id="timeValue">0</span> s</td>
						</tr>
						<tr>
							<td colspan="2">Velocity</td>
							<td><span id="velocityValue">0</span> ms<sup>-1</sup></td>
						</tr>
						<tr>
							<td colspan="2">Power</td>
							<td><span id="powerValue">0</span> W</td>
						</tr>
						<tr>
							<td colspan="2">Cadence</td>
							<td><span id="cadenceValue">0</span> rpm</td>
						</tr>
						<tr>
							<td rowspan="3">GPS<br></td>
							<td>Latitude</td>
							<td><span id="gpsValueX">0</span> N</td>
						</tr>
						<tr>
							<td>Longitude</td>
							<td><span id="gpsValueY">0</span> E</td>
						</tr>
						<tr>
							<td>Altitude</td>
							<td><span id="gpsValueZ">0</span> m</td>
						</tr>
						<tr>
							<td rowspan="3">Accelerometer</td>
							<td>x</td>
							<td><span id="accelerometerValueX">0</span> g</td>
						</tr>
						<tr>
							<td>y</td>
							<td><span id="accelerometerValueY">0</span> g</td>
						</tr>
						<tr>
							<td>z</td>
							<td><span id="accelerometerValueZ">0</span> g</td>
						</tr>
						<tr>
							<td rowspan="3">Gyroscope</td>
							<td>x<br></td>
							<td><span id="gyroscopeValueX">0</span> deg s<sup>-1</sup></td>
						</tr>
						<tr>
							<td>y</td>
							<td><span id="gyroscopeValueY">0</span> deg s<sup>-1</sup></td>
						</tr>
						<tr>
							<td>z</td>
							<td><span id="gyroscopeValueZ">0</span> deg s<sup>-1</sup></td>
						</tr>
						<tr>
							<td colspan="2">Potentiometer</td>
							<td><span id="potentiometerValue">0</span></td>
						</tr>
						<tr>
							<td colspan="2">Thermometer</td>
							<td><span id="thermometerValue">0</span> &deg;C</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/Chart.bundle.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<script type="text/javascript" src="js/charts.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</html>
