<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head %>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <title>DAS</title>
  </head>

  <body>
    <% include ./partials/header %> <% include ./partials/sidebar %>

    <div id="main">
      <div class="col-md-12">
        <h1>Options</h1>
      </div>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
</html>
