<html>
  <head>
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/index.css">
      <link rel="stylesheet" type="text/css" href="css/power-calibration.css">
  </head>
  <body>
      <% include ./partials/header %>

      <% include ./partials/sidebar %>
      <!-- credits: https://github.com/blairlee227/IlluStatus -->
    <img height=50% width=50%
     src="./assets/404_animation.svg"/>
  </body>
</html>
