<html>
  <head>
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/index.css">
      <link rel="stylesheet" type="text/css" href="css/power-calibration.css">
  </head>
  <body>
      <% include ./partials/header %>

      <% include ./partials/sidebar %>
    <img height=50% width=50%
     src="https://illustatus.herokuapp.com/?title=Oops,%20page%20not%20found&fill=%234f86ed"/>
  </body>
</html>
