<div id="sidebar" class="sidebar-offcanvas">
  <div class="col-md-12">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="index">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="downloads">Download Files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="status">Sensor Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="power-model">Power Model Start/Stop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="power-zone">Generate Power Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="power-calibration">Power Model Calibration</a>
      </li>
    </ul>
  </div>
</div>
