#filenameElement {
    display: none;
    padding-top: 15px;
}

#textModeToggleElement {
    padding-top: 15px;
    margin-bottom: 8px;
}

#map {
    height: 100%;
    width: 100%;
    padding: 15px;
}

@media (max-width: 576px) {
  #map {
    height: 400px;
  }
}

#map .ol-zoom-in,
#map .ol-zoom-out {
    background-color: #343a40;
}

#map .ol-scale-line {
  background-color: #343a4090;
}
