body,html {
    height:100%;
}

body {
    padding-top: 40px;
}

/* Overwriting Bootstrap CSS */
.nav-link {
    color: #333;
}

.nav-link.active {
    color: #007bff;
}

/* Other CSS */
#top-bar {
    padding-bottom: 0px;
    padding-top: 0px;
}

#sidebar {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    background-color:#f5f5f5;
    float: left;
    height:100%;
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
}

#main {
    height:100%;
    overflow:auto;
}