.button {
  margin-right: 10px;
}

.col {
  margin-top: 1em;
}

.row {
  margin-top: -1em;
}

.deviceName {
  font-size: large;
}

.push {
  margin-left: auto;
  text-align: right;
  color: #A3A3A3
}

.indicator {
  margin-left: 10px;
}

.subtitle {
  display: flex;
  margin-bottom: 3px;
}
