.top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

.value {
  font-size: 32px;
  line-height: 34px;
  color: black;
  text-align: right;
}

.unit {
  font-size: 14px;
  color: black;
  text-align: right;
  margin-left: 4px;
}

.desc {
  font-size: 14px;
  line-height: 18px;
  color: black;
}
