name: eslint Checker

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Run eslint
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "13.x"
      - run: cd client
      - run: yarn
      - run: yarn lint
